<div class="container-sm shadow-lg p-3 mb-5 bg-body rounded" style="margin-top: 30px;">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="assets/images/LoginLogo.png"
           class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <div *ngIf="showErrorMessage">
        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
          <strong>Fout!</strong>
          <hr>
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
  <h3>Login</h3><br>
<form>
  <div class="form-outline mb-3">
    <label class="form-label">Gebruikersnaam</label>
    <input class="form-control" type="text" [(ngModel)]="user.userName"
           name="username" required>
  </div>
  <div class="form-outline mb-3">
    <label class="form-label">Wachtwoord</label>
    <input required class="form-control" type="password" [(ngModel)]="user.password"
           name="password">
  </div>
  <button class="btn btn-success btn-block mb-3" (click)="login()">Login</button>
  <div class="text-center">
    <p>Nog geen lid? <a class="btn btn-secondary" href="http://localhost:4200/register" role="button">Registreer</a></p>
  </div>
</form>
</div>
  </div>
</div>
<div class="container-sm">
  <img src="assets/images/martin-magnemyr-nGt71kRwUOw-unsplash.jpg" class="img-fluid" alt="loginFoto">
</div>



