<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Logo3.png" alt="logo" width="200">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kaart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gebruiker
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Start een rit</a></li>
            <li><a class="dropdown-item" href="#">Bekijk ritten</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Toon voortgang</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Login</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div><router-outlet></router-outlet></div>
<!-- <div class="d-grid gap-2 d-md-flex justify-content-md-center"> <app-register></app-register></div><br>
<div class="d-grid gap-3">
  <div class="p-2 bg-light border">
    <h3>Voeg een rit toe:</h3>
    <app-bike-clear-form [bikeClearList]=listview></app-bike-clear-form>
  </div>
  <div class="p-2 bg-light border">
      <h3>Mijn ritten</h3>
      <app-bike-clear-list #listview></app-bike-clear-list>
  </div>
  <div class="p-2 bg-light border">
    <h3>Kaart</h3>

  </div>
</div> -->
