<div class="jumbotron rounded-3 clearfix" style="
    background-image: url('assets/images/eduard-delputte-vhufahtU7Lw-unsplash.jpg');
    background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 500px;">
  <div class="container text-white float-center" style="padding: 20px">
    <div *ngIf="CheckCurrentUser; else elseBlock">
      <h1>Hallo {{userService.currentUser.firstname}}</h1>
      <a class="btn btn-outline-light btn-sm" (click)="logout()" href="http://localhost:4200/home" role="button">Logout</a>
    </div>
    <ng-template #elseBlock>
      <h1 class="display-4">Welkom bij BikeClearman!</h1>
      <p class="lead">Login of registreer om meer te zien</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-outline-light btn-lg" href="http://localhost:4200/login" role="button">Login</a>
      </p>
    </ng-template>
  </div>
</div><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card shadow">
              <h5 class="card-header text-success">Voeg ritten toe</h5>
            <img src="assets/images/hu-chen-lgdkdfjQiK4-unsplash.jpg" class="card-img-bottom" alt="...">
            <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus orci urna, vel luctus tortor aliquam at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nibh risus, dignissim eu eleifend vel, euismod sit amet eros. Aenean dictum sed mauris eget aliquet. Vivamus rhoncus eget metus vel vulputate. Donec et viverra augue, id vehicula mi. Nullam luctus ullamcorper consectetur.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <h5 class="card-header text-success">Werk aan je conditie</h5>
            <img src="assets/images/markus-winkler-IrRbSND5EUc-unsplash.jpg" class="card-img-bottom" alt="...">
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus orci urna, vel luctus tortor aliquam at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nibh risus, dignissim eu eleifend vel, euismod sit amet eros. Aenean dictum sed mauris eget aliquet. Vivamus rhoncus eget metus vel vulputate. Donec et viverra augue, id vehicula mi. Nullam luctus ullamcorper consectetur.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
              <h5 class="card-header text-success">Plan je Route</h5>
              <img src="assets/images/Routes2.png" class="card-img-bottom" alt="...">
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus orci urna, vel luctus tortor aliquam at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nibh risus, dignissim eu eleifend vel, euismod sit amet eros. Aenean dictum sed mauris eget aliquet. Vivamus rhoncus eget metus vel vulputate. Donec et viverra augue, id vehicula mi. Nullam luctus ullamcorper consectetur.</p>
              </div>
        </div>
      </div>
    </div>
    </div>
